/NeuroML2/channels/Ca/caCalcs.py
/NeuroML2/channels/Ca/CaPoolModel.modWorks
/NeuroML2/cells/RS/RS.dat.nrn
/NeuroML2/channels/html
/NeuroML2/cells/RS/RS.datnrn
LEMS_Test_*.xml
*.dat
*.svg
*.dat*.lems
*.dat.nrn
*.dat0*
simulator.props
/NeuroML2/*/*/*.mod
/NeuroML2/*/*/*.hoc
*.props
*nrn.py
*geppetto.*
*.js

/neuroConstruct/generatedNeuroML2


/.gitignore~
/NeuroML2/runsim.sh
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
*~
*.DS_Store
/NeuroML2/.ipynb_checkpoints
/NeuroML2/*.mod
/NeuroML2/*.hoc
/NeuroML2/cells/*/*.json
*_moose.py
*_main.json
*input.json
/NeuroML2/cells/IB/LEMS_IB_netpyne.py
/NeuroML2/cells/IBR/LEMS_IBR_netpyne.py
/NeuroML2/cells/RS/LEMS_RS_netpyne.py
/NeuroML2/channels/IL/LEMS_IL.nernstCa_netpyne.py
/NeuroML2/cells/summary/ParamSweep*
/NeuroML2/cells/summary/IClamp_RS.net.nml
/NeuroML2/cells/summary/LEMS_Sim_IClamp_RS.xml
/NeuroML2/cells/summary/report.Sim_IClamp_RS.txt
/NeuroML2/cells/summary/Ca.nml
/NeuroML2/cells/summary/FS.cell.nml
/NeuroML2/cells/summary/IB.cell.nml
/NeuroML2/cells/summary/IBR.cell.nml
/NeuroML2/cells/summary/IClamp_FS.net.nml
/NeuroML2/cells/summary/IClamp_IB.net.nml
/NeuroML2/cells/summary/IClamp_IBR.net.nml
/NeuroML2/cells/summary/IClamp_LTS.net.nml
/NeuroML2/cells/summary/IL.channel.nml
/NeuroML2/cells/summary/IM.channel.nml
/NeuroML2/cells/summary/IT.channel.nml
/NeuroML2/cells/summary/Kd.channel.nml
/NeuroML2/cells/summary/LEMS_Sim_IClamp_FS.xml
/NeuroML2/cells/summary/LEMS_Sim_IClamp_IB.xml
/NeuroML2/cells/summary/LEMS_Sim_IClamp_IBR.xml
/NeuroML2/cells/summary/LEMS_Sim_IClamp_LTS.xml
/NeuroML2/cells/summary/LTS.cell.nml
/NeuroML2/cells/summary/Leak.channel.nml
/NeuroML2/cells/summary/Na.channel.nml
/NeuroML2/cells/summary/RS.cell.nml
/NeuroML2/cells/FS/.log
/NeuroML2/cells/FS/*.log
arm64
