/NeuroML2/cells/RS/RS.dat.nrn
/NeuroML2/channels/html
/NeuroML2/cells/RS/RS.datnrn
LEMS_Test_*.xml
*.dat
*.dat0*
simulator.props
/NeuroML2/*/*/*.mod
/NeuroML2/*/*/*.hoc
*.props
*nrn.py
*geppetto.*
*.js

/neuroConstruct/generatedNeuroML2


/.gitignore~
/NeuroML2/runsim.sh
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
*~
*.DS_Store
