/NeuroML2/*.dat
/NeuroML2/simulator.props
/.gitignore~
/neuroConstruct/generatedNeuroML2/runsim.sh
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class

/neuroConstruct/generatedNeuroML2/*.dat
/neuroConstruct/generatedNeuroML2/*.mod
/neuroConstruct/generatedNeuroML2/*.hoc
/neuroConstruct/generatedNeuroML2/*.props
/neuroConstruct/generatedNeuroML2/*nrn.py
neuroConstruct/generatedNeuroML2/*geppetto.*
neuroConstruct/generatedNeuroML2/*.js
